@import "tailwindcss";
/* src/index.css ke end mein add karo */

@keyframes enter-animation {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(10px); /* Thoda chota aur neeche */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); /* Normal size aur position */
  }
}

.animate-in {
  /* Ye class wahi magic karegi jo plugin karta tha */
  animation: enter-animation 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}