@import "tailwindcss";

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 8px; /* thoda spacing from edges */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    #1e293b,
    #334155
  );
  border-radius: 999px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    #3b82f6,
    #6366f1
  );
}


